{% extends "base.html" %}
{% block javascripts %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- 
	<link rel="stylesheet" type="text/css" href="http://extjs.cachefly.net/ext-3.2.1/resources/css/ext-all.css"/>
    <script type="text/javascript" src="http://extjs.cachefly.net/ext-3.2.1/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="http://extjs.cachefly.net/ext-3.2.1/ext-all-debug.js"></script>
	-->    
    <script type="text/javascript" src="/smedia/js/creation_evaluation/PiliersStore.js"></script>
    <script type="text/javascript" src="/smedia/js/creation_evaluation/CompetencesStore.js"></script>    
	<script type="text/javascript" src="/smedia/js/creation_evaluation/TypeAideStore.js"></script> 
    <script type="text/javascript" src="/smedia/js/creation_evaluation/formCompetence.ui.js"></script>
    <script type="text/javascript" src="/smedia/js/creation_evaluation/formCompetence.js"></script>    
    <script type="text/javascript" src="/smedia/js/creation_evaluation/Grille_Competences.ui.js"></script>
    <script type="text/javascript" src="/smedia/js/creation_evaluation/Grille_Competences.js"></script>    
    <script type="text/javascript" src="/smedia/js/creation_evaluation/panelCompetencesSelectionnees.ui.js"></script>
    <script type="text/javascript" src="/smedia/js/creation_evaluation/panelCompetencesSelectionnees.js"></script>
    <script type="text/javascript" src="/smedia/js/creation_evaluation/tabpanelCompetences.ui.js"></script>
    <script type="text/javascript" src="/smedia/js/creation_evaluation/tabpanelCompetences.js"></script>
	<link rel="stylesheet" type="text/css"href="/smedia/js/ux/FilterRow.css" />
	<script type="text/javascript" src="/smedia/js/ux/FilterRow.js"></script>
	<script type="text/javascript" src="/smedia/js/progs/elevesGrid.js"></script>	
	<script type="text/javascript" src="/smedia/js/creation_evaluation/creationEval.ui.js"></script>
	<script type="text/javascript" src="/smedia/js/creation_evaluation/creationEval.js"></script>



    <script type="text/javascript" src="/smedia/js/creation_evaluation/xds_index.js"></script>
{% endblock %}
{% block content %}
{% endblock %}
