
#app-header  {
	font-family: Arial, sans-serif;
    color: #596F8F;
    text-shadow: 0 1px 0 #fff;
    background: url(app-logo.png) no-repeat 8px 8px;	
	padding: 14px 15px 8px 80px;
    font-size: 22px;	
    font-weight: 200;   
	
}
#app-header .test {
	font-family: Arial, sans-serif;
    color: #596F8F;
    text-shadow: 0 1px 0 #fff;
 background-color: #DFE8F6;
    font-size: 22px;	
    font-weight: 200;  
}
#app-header .subtitle {
    font-size: 12px;
    color: #369;
	
}


/* style pour les colonnes filtrées par Ext.ux.grid.FiltersFeature */
.ux-filtered-column .x-column-header-inner {
	background-image: url(filter-row-icon.png);
    background-repeat: no-repeat;
    padding-left: 16px;

	
}

.ux-filtered-columnTEST .x-column-header-inner {
	background-image: url(filter-row-icon.png);
    background-repeat: no-repeat;
    padding-left: 16px;
    color:red;
	
}

.ux-gridfilter-text-icon {
    background-image: url(filter-row-icon.png) !important;
	padding-left:16px;
}

/* Default style for text in accordion panes. */
.cssDefault {
  font-size : 10pt;
  font-family : arial;
}
/* Style for table showing item details. */
.cssDetailsTable {
  border : 2px solid #99bbe8;
  padding : 2px;
}


/* Style for field label in table showing item details. */
.cssDetailsLabel {
  background-color : #c7dffc;
  font-size : 10pt;
  font-family : arial;
}


/* Style for field data in table showing item details. */
.cssDetailsData {
  background-color : #f4f4f4;
  font-weight : bold;  
  font-size : 12pt;
  font-family : arial;
}
.cssDetailsDataMini {
  background-color : #f4f4f4;
  font-size : 11pt;
  font-family : arial;
}

.cssGras {
	font-weight : bold !important;
	color:red;
	
}

/* icon de chargement d'un noeud. Nécessaire de forcer si on ajoute une iconCls */
.x-grid-tree-loading .x-tree-icon {
	background-image: url(loading.gif) !important;
} 
.createurAutres {
	display:block;
	float:left;
	width:16px;
	height:16px;
	background-image: url('/smedia/css/icons/group.png');
}

.testimg{
	display:block;
	float:right;
	/*relative:bottom;*/
	height:7px;
	background: url('/smedia/images/icones-eval.png') no-repeat
}

.testimgD4{
	color:red; 
	width:10px;
	background-position: 0 0 ;
} 
.testimgPO{
	color:green;
	width:10px;
	background-position: -9px 0 ;
}
.testimgPR{
	color:green;
	width:10px;
	background-position: -19px 0 ;
}
.imgdetail {
	display:block;
	/*float:right;*/
	position:relative;
	top:7px;
	left:2px;
	width:7px;
	height:7px;
	background: url('/smedia/images/icones-eval.png') no-repeat 
}
.imgdetailNA {
	background-position: 0px -7px;
	
}
.imgdetailEC1 {
	background-position : -7px -7px 
}
.imgdetailEC2 {
	background-position : -15px -7px 
}
.imgdetailA {
	background-position : -22px -7px 
}
.x-grid3-hd-headerid {
	color:red;
	/* overflow:auto; */
}
.cssNF {
	color:grey;
	/*font-size:70%*/
}
.cssNA {
	background-color: #fb7474;*/
	/*color: #fb7474;*/
	background-image: none;
	text-align:center;
}
.cssA {
	background-color: #00ff00;
	/*color:#00ff00;*/
	background-image: none;
	text-align:center;
}
.cssEC1 {
	background-color: #ffa500;
	/*color:#ffa500;*/
	background-image: none;
	text-align:center;
}
.cssEC2 {
	background-color: #d4ff00;
	/*color:#b1ca36;*/
	background-image: none;
	text-align:center;
}
.cssAplus {
	background-color: #00ff00;
	/*color:#00ff00;*/
	background-image: none;
	font-weight : bold;
	text-align:center;	
}
.cssDefautFormBody {
	 background-color: #f0ebe2;!important
	 font-size: italic;
}
#filterCls {
	background-color: #00ff00;!important
}